$--bethzatha-blue: #2C7FFF;
$--bethzatha-blue-secondary: #E7F0FF;
$--bethzatha-green: #58A05B;
$--bethzatha-green-secondary: #DDF9DE;
$--bethzatha-red-secondary: #F9D5DC;
$--bethzatha-orange: #FFA14E;
$--text-grey: #828282;
$--text-grey-secondary: #F2F2F2;

