@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins&display=swap');

body{
    font-family: 'Monserrat', sans-serif;
    background-color: #f0f3f6;
    margin: 0;
    font-size: 0.96rem;
    padding: 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.text-heading{
    font-weight: bold;
    font-size: 1.25rem;
}

span{
    font-size: 0.9em;
}

.text-bold{
    font-weight: 600;
}